* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ν—¤λ” css */
header {
  width: 100%;
  margin-bottom: 50px;
}

.header_wrap {
  width: 100%;
  display: flex;
}

.header_wrap > a {
  border: 1px solid #c0c0c0;
  width: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_wrap > a:first-child {
  background-color: rgb(230, 0, 18);
  border: none;
}

.header_wrap > a {
  text-decoration: none;
  color: #000;
  margin: 0 auto;
}

#Direct_purchase {
  width: 40%;
  background-color: rgb(254, 124, 10);
  border: none;
}

#Magnifier {
  width: 20%;
}

/* ν‘Έν„° css */
footer {
  width: 100%;
}

.footHead {
  background-color: rgb(230, 0, 18);
}

.footHead > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

#footrupLogo {
  width: 50%;
  height: 50%;
}

#footrupLogo:hover {
  cursor: pointer;
}

.footHead > div > div {
  padding: 25px 0;
}

.footBody > div {
  width: 70%;
  margin: 0 auto;
}

#amiibo {
  border: 1px solid rgba(101, 101, 101, 0.5);
  border-radius: 5px;
  height: 60px;
  width: 365px;
}

.footImg {
  height: 60px;
}

.footLogoImgs {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 45px;
}

.footLogoImgs > div {
  margin-right: 30px;
}

.footLogoImgs > div:first-child > a {
  text-decoration: none;
  padding-right: 18px;
}

.footLogoImgs > div:nth-child(2) > a {
  text-decoration: none;
  padding-right: 30px;
}

.footBody > div > div:nth-child(2) {
  display: flex;
  margin-bottom: 13px;
  justify-content: center;
  position: relative;
}

.footBody > div > div:nth-child(2) > hr:first-child {
  position: absolute;
  margin-right: 61rem;
}

.footBody > div > div:nth-child(2) > hr:nth-child(2) {
  position: absolute;
  margin-right: 29rem;
}

.footBody > div > div:nth-child(2) > hr:nth-child(3) {
  position: absolute;
  margin-left: 7rem;
}

.footBody > div > div:nth-child(2) > hr:nth-child(4) {
  position: absolute;
  margin-left: 43rem;
}

.footUpperLedline {
  background-color: rgb(230, 0, 18);
  height: 3px;
  width: 25px;
  border: none;
}

.footerTextBox {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 35px;
}

.footerTextBox > ul {
  list-style: none;
  margin-right: 120px;
  line-height: 25px;
}

.footerTextBox > ul > li > h4 {
  padding-bottom: 15px;
}

.footerTextBox > ul > a {
  list-style: none;
  text-decoration: none;
  color: rgb(101, 101, 101);
  font-size: 15px;
}

.footFoot {
  background-color: rgb(245, 245, 245, 231);
}

.footFoot > div {
  color: rgb(115, 115, 135, 118);
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding-top: 35px;
  padding-bottom: 40px;
  line-height: 23px;
}

#footUser > a::before {
  content: "|";
}

#footUser > a:first-child::before {
  content: "";
}

#footDayOff {
  font-size: 12px;
  padding-top: 16px;
  text-align: right;
}
section {
  width: 100%;
  margin-bottom: 80px;
}
.banner {
  display: flex;
  width: 70%;
  margin: 0 auto;
}
.banner > div {
  font-size: 30px;
  font-weight: bold;
}
.flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.left {
  margin-left: auto;
}
body {
  width: 100%;
}

.banner2 {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.big > span {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
}
.big {
  font-size: 26px;
}
.mid {
  font-size: 24px;
}
.bold {
  font-weight: bold;
  font-size: 24px;
}
.cir {
  border: 1px solid gray;
  background-color: gray;
  color: white;
  border-radius: 25px;
  width: 20%;
  height: 2%;
  text-align: center;
  margin-left: 20px;
}
.text1 {
  margin-left: 100px;
  margin-top: 50px;
}
.flex-1 {
  display: flex;
  margin-top: 60px;
}
.flex-2 {
  display: flex;
  justify-content: center;
}
.banner3 {
  width: 100%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-top: 60px;
}
.exam {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 35px;
  margin-right: 35px;
  font-size: 18px;
}
p {
  text-align: center;
}
.top {
  margin-top: 80px;
  font-size: 32px;
  margin-bottom: 20px;
}
.top > span {
  font-weight: bold;
}
.red {
  background-color: red;
  width: 8%;
  color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
}
.flex-3 {
  margin-left: 12px;
}
.flex-4 {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.blbx {
  border-top: black 1px solid;
  width: 18%;
  border-bottom: black 1px solid;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 8px;
}
.rdbx {
  border-top: red 1px solid;
  width: 18%;
  border-bottom: red 1px solid;
  margin: 0 auto;
  color: red;
  padding-top: 8px;
  padding-bottom: 8px;
}
p > span {
  font-weight: bold;
}
.center {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.flex-5 {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  align-items: center;
}
div > span {
  font-weight: bold;
}
.small {
  font-size: 15px;
  margin-bottom: 20px;
}
.flex-6 {
  display: flex;
  justify-content: center;
  background-color: navy;
  padding: 50px;
  margin-bottom: 80px;
}
.text2 {
  color: #fff;
  margin-left: 100px;
  margin-top: 160px;
}
.text3 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}
.text4 {
  font-size: 12px;
  margin-bottom: 20px;
}
.flex-7 {
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin: 0 auto;
}
.red3 {
  background-color: red;
  border-radius: 50%;
  padding-top: 50px;
  margin-right: 50px;
  margin-left: 120px;
  width: 200px;
  height: 200px;
}
.red4 {
  background-color: red;
  padding-top: 50px;
  text-align: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.flex-7 > div > div > p {
  font-size: 14px;
}
.white {
  color: #fff;
  font-size: 11px;
  text-align: center;
}
.center2 {
  text-align: center;
}
.flex-8 {
  display: flex;
  background-color: rgb(201, 201, 167);
  justify-content: center;
  margin-top: 80px;
  padding-top: 30px;
}
.red5 {
  color: red;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.small2 {
  font-size: 14px;
}
.margin2 {
  margin-left: 10px;
  margin-right: 10px;
}
.bigbar {
  display: flex;
  justify-content: center;
}
.smallbar {
  display: flex;
  justify-content: center;
  font-size: 20px;
  border-bottom: black 1px solid;
  border-top: dotted gray 1px;
  border-left: dotted gray 1px;
  border-right: dotted gray 1px;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 30px;
  padding-bottom: 30px;
}
a {
  text-decoration: none;
}
